pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
xgboost
onnx
onnxruntime
onnxmltools
skl2onnx
jupyter
jupyterlab
h5py
plotly
statsmodels
openpyxl
xlrd
gdal
rasterio
requests
xarray
netCDF4
earthaccess
